# Environment
NODE_ENV=development

# Database
POSTGRES_USER=flux
POSTGRES_PASSWORD=fluxpassword
POSTGRES_DB=flux
DATABASE_URL=postgresql://flux:fluxpassword@localhost:5432/flux

# Auth
JWT_SECRET=supersecret

# API
API_URL=http://localhost:3001

# Web
NEXT_PUBLIC_API_URL=http://localhost:3001
